[Unit]
Description=MyBashScript
After=syslog.target
[Service]
ExecStart=/bin/bash '/home/admin1/myscript.sh'
Type=forking
[Install]
WantedBy=multi-user.target
Alias=bash.service
